<h2 class="h4">{{ title }}</h2>

<form>
  <div class="form-group mb-0">
    <label for="foo-form-yes">Is valid?</label>

    <div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="fooIsValid"
          id="foo-form-yes"
          [ngClass]="{ 'is-invalid': !isValid, 'is-valid': isValid }"
          [value]="true"
          [(ngModel)]="isValid"
          (change)="onChange()"
        />
        <label class="form-check-label" for="foo-form-yes">yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="fooIsValid"
          id="foo-form-no"
          [ngClass]="{ 'is-invalid': !isValid, 'is-valid': isValid }"
          [value]="false"
          [(ngModel)]="isValid"
          (change)="onChange()"
        />
        <label class="form-check-label" for="foo-form-no">no</label>
      </div>
    </div>
  </div>
</form>
